nav ul {
  background-color: blue;
  margin: 0; 
  padding: 0; 
  overflow: hidden;
  list-style-type: none;
}

nav ul li {
  float: left;
  margin: 0px 15px;
  left: 50%;   
  right: 50%;   
  display: block;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  text-decoration: underline overline;
  background-color: #000;
}

#sidebar {
  position: fixed;
  right:0%;
  background-color: red;
  height: 100%;
  width: 20%;
}

#sidebar ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

div#sidebar-container a {
  text-decoration: none;
  display: block;
  color: #fff;
}

#sidebar ul li a:hover {
  background-color: #000;
}
